keras==3.3.3
numpy==1.26.4
pandas==2.2.1
reportlab==4.2.0
streamlit==1.32.2
streamlit-option-menu==0.3.12
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.1
tensorflow-intel==2.16.1
tensorflow-io-gcs-filesystem==0.31.0
